body {
	color: var(--clr-black);
	background-color: var(--clr-purple);
	padding: 1.5rem;
}

fieldset {
	border: none;
	margin-block-end: 0.5rem;
	border-radius: 3px;
	padding: 1rem;
}

.flex-container {
	border: 4px dashed #000;
	border-radius: var(--br-med);
}

.container-stats .value {
	color: var(--clr-purple-90);
	padding-inline-start: 0.2rem;
	font-weight: 600;
}

.container-stats p {
	margin-block-end: 0.2rem;
}

.flex-container {
	margin-block-end: 2rem;
	position: relative;
	min-height: 300px;
}

.flex-item {
	border: 2px solid var(--clr-purple-90);
	background-color: var(--clr-white-40);
	border-radius: var(--br-sm);
	padding: 1rem;
	margin: 0.3rem;
}

.property-label {
	margin-block-end: 0.5rem;
}

#arrow-horizontal {
	position: absolute;
	top: 50%;
}

#arrow-vertical {
	display: none;
	position: absolute;
	left: 50%;
}

.primary-axis-label {
	position: absolute;
	top: 25%;
	right: 30px;
}

div:has(label[for='show-primary-axis']) {
	padding-block-end: 1rem;
}
