body {
	margin-inline: auto;
	font-size: 1.2rem;
	line-height: 1.5;
	color: #000;
	background-color: #fff;
	font-family: 'neue-haas-grotesk-display', sans-serif;
	font-weight: 200;
}

::selection {
	background-color: var(--clr-green);
}

.container {
	margin-inline-start: auto;
	margin-inline-end: auto;
	max-width: 43.5rem;
}

header {
	/* background-color: hotpink; */
}

main {
	background-color: tomato;
}

.table-of-content {
	height: 100%;
	background-color: turquoise;
	position: fixed;
}

footer {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;

	min-height: 10rem;
	background-color: var(--clr-dark-gray-700);
	margin: 5rem 0 0 0;
	padding-block-end: 3rem;
	color: var(--clr-light-gray-100-3);
}

h1 {
	margin-block-end: 1.5rem;
}

.flexbox-title {
	font-size: 13.5rem;
	font-weight: 900;
	text-transform: uppercase;
	background-color: #e999ff;
	background-image: radial-gradient(
			at 31% 60%,
			rgb(216, 53, 153) 0px,
			transparent 50%
		),
		radial-gradient(at 33% 4%, hsla(255, 72%, 63%, 1) 0px, transparent 50%),
		radial-gradient(at 86% 86%, rgb(90, 198, 234) 0px, transparent 50%),
		radial-gradient(at 41% 74%, hsla(338, 63%, 75%, 1) 0px, transparent 50%),
		radial-gradient(at 97% 99%, hsla(192, 94%, 62%, 1) 0px, transparent 50%),
		radial-gradient(at 17% 6%, rgb(206, 113, 177) 0px, transparent 50%),
		radial-gradient(at 29% 52%, rgb(151, 145, 255) 0px, transparent 50%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-background-clip: text;
	-moz-text-fill-color: transparent;
	background-size: 100%;
}

h2 {
	margin-block: 3rem 0.5rem;
	position: relative;
	width: fit-content;
	overflow: hidden;
	transition: all 300ms ease-in-out;
}

h2::after {
	content: '';
	position: absolute;
	background-color: var(--clr-purple);
	width: 100%;
	height: 3px;
	/* top: -10px; */
	left: -100%;
	bottom: 0px;
	opacity: 0.3;
	transition: all 300ms ease-in-out;
}

h2:hover {
	color: var(--clr-purple);
}

h2:hover::after {
	opacity: 1;
	left: 0;
}

h3 {
	margin-block: 1rem 0.5rem;
	width: fit-content;
	border-bottom: 2px solid var(--clr-purple);
}

li::marker {
	content: '➜  ';
	color: var(--clr-blue);
}
/*
.table-of-content {
	position: fixed;
	right: 10px;
	top: 3px;
	padding: 3rem;
	font-size: 0.8rem;
	background-color: var(--clr-purple-12);

	> ul {
		padding: 0;
		display: flex;
		flex-direction: column;
		gap: 0.3rem;
	}

	& li::marker {
		content: '';
	}

	& li::before {
		content: '';
		background-image: url();
	}

	& a ~ ul {
		padding-left: 1rem;
		& a {
			color: var(--clr-pink);
		}
	}

	& a {
		text-decoration: none;
	}
}
*/
.iframe-container {
	display: grid;
	place-items: center;
	margin-block: 0.5rem 3rem;
}

iframe {
	min-width: calc(600px + 6rem);
	border-radius: var(--br-big);
}

p {
	padding-block-end: 1rem;
}

em,
strong {
	color: var(--clr-purple);
}

a {
	color: var(--clr-purple);
	font-weight: 600;
}

:is(p, li) > code {
	background-color: var(--clr-light-gray-150);
	padding: 0.1rem 0.4rem;
	border-radius: 3px;
	font-size: 1rem;
}

div:has(.container-animation) {
	margin-block-end: 2rem;
}

.scene {
	position: relative;
}

.container-animation {
	min-height: 350px;
	display: grid;
	place-items: center;
	position: relative;
	max-width: 600px;
	background: var(--clr-purple-12);
	overflow: hidden;
	border-radius: var(--br-big);
	margin-inline: auto;
}

.axis-title {
	position: absolute;
	z-index: 15;
	top: 39%;
	left: 38%;
	color: var(--clr-light-gray-100);
	font-weight: 700;
	text-shadow: var(--clr-purple-dark) 1px 0 10px;
	transition: transform 300ms cubic-bezier(0.79, -0.1, 0.29, 1.11);
}

.container-animation *:not(:empty) {
	transform-style: preserve-3d;
}

.flex-element-animation {
	position: absolute;
	width: 132px;
	background: var(--clr-purple-50);
	backdrop-filter: blur(3px);
	border-radius: var(--br-med);
	left: -80px;
	transition: transform 300ms cubic-bezier(0.79, -0.1, 0.29, 1.11);
}

.container-animation:hover {
	perspective: 800px;
}

.primary-axis-rotation {
	& .primary-axis-animation {
		position: absolute;
		inset: -3px -300px;
		background: var(--clr-purple-axis);
		z-index: 10;
	}

	& .flex-element-animation {
		aspect-ratio: 1 / 2;
		top: -130px;
	}

	& .container-animation:hover .flex-element-animation {
		transform: rotateY(-50deg);
	}

	& #two {
		transform: translateX(-140px);
	}

	& #three {
		transform: translateX(140px);
	}

	& .container-animation:hover #two {
		transform: translateX(-120px) rotateY(-50deg);
	}

	& .container-animation:hover #three {
		transform: translateX(120px) rotateY(-50deg);
	}

	& .container-animation:hover .primary-axis-title {
		transform: translateY(-1rem);
	}
}

.secondary-axis-rotation {
	.secondary-axis-title {
		translate: 0 -90px;
	}
	#title-one {
		translate: -20px -120px;
	}
	#title-two {
		transform: translateX(-170px);
	}

	#title-three {
		transform: translateX(112px);
	}

	.secondary-axis-animation {
		position: absolute;
		inset: -350px -3px;
		background: var(--clr-purple-axis);
		z-index: 10;
	}

	#secondary-one {
		transform: translateX(-12px);
	}

	#secondary-two {
		transform: translateX(-153px);
	}

	#secondary-three {
		transform: translateX(127px);
	}

	.flex-element-animation {
		aspect-ratio: 1 / 1.4;
		top: -86px;
	}

	.container-animation:hover .flex-element-animation {
		transform: rotateX(20deg);
	}

	#two {
		transform: translateX(-140px);
	}

	#three {
		transform: translateX(140px);
	}

	.container-animation:hover #two {
		transform: translateX(-140px) rotateX(20deg);
	}

	.container-animation:hover #three {
		transform: translateX(140px) rotateX(20deg);
	}
}

pre {
	display: flex;
	align-items: center;
	background-color: var(--clr-dark-gray-700);
	padding: 2rem;
	border-radius: var(--br-big);

	& code {
		display: flex;
		flex-direction: column;
	}
	.code-line {
		display: flex;
		min-height: 1rem;
		&:has(.selector) {
			padding-block-start: 0.7rem;
		}
	}

	.selector {
		color: var(--clr-purple);
	}

	.property {
		color: var(--clr-yellow);
	}

	.tag {
		color: var(--clr-green);
	}

	.class {
		color: var(--clr-blue);
	}

	.symbol {
		color: var(--clr-red);
	}
	.unit {
		color: var(--clr-pink);
	}

	.number {
		color: var(--clr-purple);
	}

	.tab {
		width: 3ch;
	}
}

.result-side {
	max-width: 25rem;
}
.result-side .flex-wrapper {
	display: flex;
}

.result-side .item {
	margin-block-end: 1rem;
	width: 500px;
	height: 40px;
	background-color: var(--clr-purple);
	border-radius: var(--br-med);
	display: flex;
	align-items: center;
}

.hypotetical-size-code-test {
	display: flex;
	gap: 2rem;
	margin-block: 1.5rem 1rem;
}

.illustrative-img {
	display: block;
	width: 696px;
	margin-inline: auto;
}

.graph {
	width: 100%;
	aspect-ratio: 1.8;
	margin-inline: auto;
	position: relative;
	background-color: var(--clr-purple-12);
	text-align: center;
	border-radius: var(--br-big);
	text-shadow: 0.3px 0.5px 0.8px var(--clr-purple-dark),
		0px 10px 10px var(--clr-purple-dark);

	& ul {
		margin: 0;
		padding: 0;
	}
	& code {
		background-color: transparent;
	}

	& li::marker {
		content: '';
	}

	.circle {
		aspect-ratio: 1;
		background-color: var(--clr-purple);
		width: 350px;
		border-radius: 50%;
		position: absolute;
		display: grid;
		place-content: center;
		opacity: 0.7;
		top: 50%;
		outline: 2px solid transparent;
		outline-offset: -18px;
		transition: all 350ms ease;

		.graph-title {
			position: absolute;
			top: 3.5rem;
			left: 50%;
			translate: -50% 0;
			width: max-content;

			& code {
				font-size: 1.3rem;
			}
		}
		&:hover {
			scale: 1.1;
			opacity: 0.9;
			outline-color: var(--clr-purple-dark);
			outline-offset: 8px;

			.graph-title {
				font-weight: 600;
				color: var(--clr-purple-dark);
			}
		}
	}
	.left-circle {
		right: 50%;
		translate: 15% -50%;
		& ul {
			translate: -40px 0;
		}
	}
	.right-circle {
		left: 50%;
		translate: -15% -50%;
		& ul {
			translate: 40px 0;
		}
	}
	.joint {
		position: absolute;
		top: 50%;
		left: 50%;
		translate: -50% -50%;
	}
}
