#container-size {
	width: 100%;
}

#propety-form {
	max-width: 600px;
	margin-inline: auto;
	margin-block-end: 1.5rem;
}

#flex-form {
	padding: 1rem;
	border: solid 2px var(--clr-purple-90);
	border-radius: var(--br-med);
}

label[for='container-size'] {
	display: flex;
	justify-content: space-between;
}

.centered-form {
	display: grid;
	place-content: center;
}

button {
	background-color: var(--clr-purple-90);
	color: var(--clr-white);
	font-weight: 800;
	border: none;
	padding: 0.5rem 0.7rem;
	border-radius: 5px;
}

input {
	background-color: #ffffffa5;
	border-radius: var(--br-sm);
	padding: 0.5rem 0.7rem;
	border: none;
	border-bottom: 2px solid var(--clr-purple-90);
	color: inherit;
}
