.flex-container {
	align-items: center;
	border: none;
	background-color: var(--clr-white-40);
	border: 2px solid var(--clr-purple-90);
	color: var(--clr-white);
	min-height: 5rem;
	font-weight: 600;
	border-radius: var(--br-med);
}

.flex-item {
	border: none;
	background-color: var(--clr-black);
}
